In [0]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType, DoubleType, BooleanType, DateType

In [0]:
configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
"fs.azure.account.oauth2.client.id": "180012e3-d98a-4a23-bfff-f7beb05d7141",
"fs.azure.account.oauth2.client.secret": "lx68Q~9siLzZYoZgwcbfviZ.37OqR0GMOZF3xcvH",
"fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/29640cab-4eee-474c-906d-ff025fdd200c/oauth2/token"}

dbutils.fs.mount(
    source = "abfss://tokyo-olympic-data@topkyo2021data.dfs.core.windows.net", #container@storageacc
    mount_point = "/mnt/tokyoolympic",
    extra_configs = configs)
    
# appId: "180012e3-d98a-4a23-bfff-f7beb05d7141",
# directoryId: "29640cab-4eee-474c-906d-ff025fdd200c",
# secretKey: "lx68Q~9siLzZYoZgwcbfviZ.37OqR0GMOZF3xcvH"

True

In [0]:
%fs
ls "mnt/tokyoolympic"

path,name,size,modificationTime
dbfs:/mnt/tokyoolympic/raw-data/,raw-data/,0,1703356318000
dbfs:/mnt/tokyoolympic/transformed-data/,transformed-data/,0,1703356327000

In [0]:
spark

In [0]:
athletes = spark.read.format("csv").option("header", "true").load("/mnt/tokyoolympic/raw-data/athletes.csv")
coaches = spark.read.format("csv").option("header", "true").load("/mnt/tokyoolympic/raw-data/coaches.csv")
gender = spark.read.format("csv").option("header", "true").load("/mnt/tokyoolympic/raw-data/gender.csv")
medals = spark.read.format("csv").option("header", "true").load("/mnt/tokyoolympic/raw-data/medals.csv")
teams = spark.read.format("csv").option("header", "true").load("/mnt/tokyoolympic/raw-data/teams.csv")

athletes.show()

+--------------------+--------------------+-------------------+
|                Name|                 NOC|         Discipline|
+--------------------+--------------------+-------------------+
|     AALERUD Katrine|              Norway|       Cycling Road|
|         ABAD Nestor|               Spain|Artistic Gymnastics|
|   ABAGNALE Giovanni|               Italy|             Rowing|
|      ABALDE Alberto|               Spain|         Basketball|
|       ABALDE Tamara|               Spain|         Basketball|
|           ABALO Luc|              France|           Handball|
|        ABAROA Cesar|               Chile|             Rowing|
|       ABASS Abobakr|               Sudan|           Swimming|
|    ABBASALI Hamideh|Islamic Republic ...|             Karate|
|       ABBASOV Islam|          Azerbaijan|          Wrestling|
|        ABBINGH Lois|         Netherlands|           Handball|
|         ABBOT Emily|           Australia|Rhythmic Gymnastics|
|       ABBOTT Monica|United States of ...|  Baseball/Softball|
|ABDALLA Abubaker ...|               Qatar|          Athletics|
|      ABDALLA Maryam|               Egypt|  Artistic Swimming|
|      ABDALLAH Shahd|               Egypt|  Artistic Swimming|
| ABDALRASOOL Mohamed|               Sudan|               Judo|
|   ABDEL LATIF Radwa|               Egypt|           Shooting|
|    ABDEL RAZEK Samy|               Egypt|           Shooting|
|   ABDELAZIZ Abdalla|               Egypt|             Karate|
+--------------------+--------------------+-------------------+
only showing top 20 rows

In [0]:
athletes = athletes.withColumnRenamed("Name", "PersonName")\
    .withColumnRenamed("NOC", "Country")

In [0]:
athletes.printSchema()

root
 |-- PersonName: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)

In [0]:
coaches.show(10)

+--------------------+--------------------+-----------------+--------+
|                Name|                 NOC|       Discipline|   Event|
+--------------------+--------------------+-----------------+--------+
|     ABDELMAGID Wael|               Egypt|         Football|    NULL|
|           ABE Junya|               Japan|       Volleyball|    NULL|
|       ABE Katsuhiko|               Japan|       Basketball|    NULL|
|        ADAMA Cherif|       C�te d'Ivoire|         Football|    NULL|
|          AGEBA Yuya|               Japan|       Volleyball|    NULL|
|AIKMAN Siegfried ...|               Japan|           Hockey|     Men|
|       AL SAADI Kais|             Germany|           Hockey|     Men|
|       ALAMEDA Lonni|              Canada|Baseball/Softball|Softball|
|     ALEKNO Vladimir|Islamic Republic ...|       Volleyball|     Men|
|     ALEKSEEV Alexey|                 ROC|         Handball|   Women|
+--------------------+--------------------+-----------------+--------+
only showing top 10 rows

In [0]:
coaches = coaches.withColumnRenamed("NOC", "Country")

In [0]:
coaches.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Event: string (nullable = true)

In [0]:
gender.show(10)

+-------------------+------+----+-----+
|         Discipline|Female|Male|Total|
+-------------------+------+----+-----+
|     3x3 Basketball|    32|  32|   64|
|            Archery|    64|  64|  128|
|Artistic Gymnastics|    98|  98|  196|
|  Artistic Swimming|   105|   0|  105|
|          Athletics|   969|1072| 2041|
|          Badminton|    86|  87|  173|
|  Baseball/Softball|    90| 144|  234|
|         Basketball|   144| 144|  288|
|   Beach Volleyball|    48|  48|   96|
|             Boxing|   102| 187|  289|
+-------------------+------+----+-----+
only showing top 10 rows

In [0]:
gender.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: string (nullable = true)
 |-- Male: string (nullable = true)
 |-- Total: string (nullable = true)

In [0]:
gender = gender.withColumn("Female", col("Female").cast(IntegerType()))\
    .withColumn("Male", col("Male").cast(IntegerType()))\
    .withColumn("Total", col("Total").cast(IntegerType()))

In [0]:
gender.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)

In [0]:
medals.show(10)

+----+--------------------+----+------+------+-----+-------------+
|Rank|            Team/NOC|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           Australia|  17|     7|    22|   46|            6|
|   7|         Netherlands|  10|    12|    14|   36|            9|
|   8|              France|  10|    12|    11|   33|           10|
|   9|             Germany|  10|    11|    16|   37|            8|
|  10|               Italy|  10|    10|    20|   40|            7|
+----+--------------------+----+------+------+-----+-------------+
only showing top 10 rows

In [0]:
medals.printSchema()

root
 |-- Rank: string (nullable = true)
 |-- Team/NOC: string (nullable = true)
 |-- Gold: string (nullable = true)
 |-- Silver: string (nullable = true)
 |-- Bronze: string (nullable = true)
 |-- Total: string (nullable = true)
 |-- Rank by Total: string (nullable = true)

In [0]:
medals = medals.withColumn("Rank", col("Rank").cast(IntegerType()))\
    .withColumn("Gold", col("Gold").cast(IntegerType()))\
    .withColumn("Silver", col("Silver").cast(IntegerType()))\
    .withColumn("Bronze", col("Bronze").cast(IntegerType()))\
    .withColumn("Total", col("Total").cast(IntegerType()))\
    .withColumn("Rank by Total", col("Rank by Total").cast(IntegerType()))

medals = medals.withColumnRenamed("Team/NOC", "Team_Country")

In [0]:
medals.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Team_Country: string (nullable = true)
 |-- Gold: integer (nullable = true)
 |-- Silver: integer (nullable = true)
 |-- Bronze: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Rank by Total: integer (nullable = true)

In [0]:
teams.show(10)

+-----------+--------------+--------------------+-----+
|       Name|    Discipline|                 NOC|Event|
+-----------+--------------+--------------------+-----+
|    Belgium|3x3 Basketball|             Belgium|  Men|
|      China|3x3 Basketball|People's Republic...|  Men|
|      China|3x3 Basketball|People's Republic...|Women|
|     France|3x3 Basketball|              France|Women|
|      Italy|3x3 Basketball|               Italy|Women|
|      Japan|3x3 Basketball|               Japan|  Men|
|      Japan|3x3 Basketball|               Japan|Women|
|     Latvia|3x3 Basketball|              Latvia|  Men|
|   Mongolia|3x3 Basketball|            Mongolia|Women|
|Netherlands|3x3 Basketball|         Netherlands|  Men|
+-----------+--------------+--------------------+-----+
only showing top 10 rows

In [0]:
teams.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- NOC: string (nullable = true)
 |-- Event: string (nullable = true)

In [0]:
teams = teams.withColumnRenamed("NOC", "Country")\
    .withColumnRenamed("Name", "TeamName")

teams.printSchema()

root
 |-- TeamName: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Event: string (nullable = true)

In [0]:
top_gold_medal_winners = medals.orderBy("Gold", ascending=False).select("Team_Country", "Gold").show(10)

+--------------------+----+
|        Team_Country|Gold|
+--------------------+----+
|United States of ...|  39|
|People's Republic...|  38|
|               Japan|  27|
|       Great Britain|  22|
|                 ROC|  20|
|           Australia|  17|
|         Netherlands|  10|
|              France|  10|
|             Germany|  10|
|               Italy|  10|
+--------------------+----+
only showing top 10 rows

In [0]:
avg_entries_by_gender = gender.withColumn(
    'avg_female', gender['Female'] / gender['Total']
).withColumn(
    'avg_male', gender['Male'] / gender['Total']
)

avg_entries_by_gender.show(10)

+-------------------+------+----+-----+-------------------+------------------+
|         Discipline|Female|Male|Total|         avg_female|          avg_male|
+-------------------+------+----+-----+-------------------+------------------+
|     3x3 Basketball|    32|  32|   64|                0.5|               0.5|
|            Archery|    64|  64|  128|                0.5|               0.5|
|Artistic Gymnastics|    98|  98|  196|                0.5|               0.5|
|  Artistic Swimming|   105|   0|  105|                1.0|               0.0|
|          Athletics|   969|1072| 2041| 0.4747672709456149|0.5252327290543851|
|          Badminton|    86|  87|  173|0.49710982658959535|0.5028901734104047|
|  Baseball/Softball|    90| 144|  234|0.38461538461538464|0.6153846153846154|
|         Basketball|   144| 144|  288|                0.5|               0.5|
|   Beach Volleyball|    48|  48|   96|                0.5|               0.5|
|             Boxing|   102| 187|  289|0.35294117647058826|0.6470588235294118|
+-------------------+------+----+-----+-------------------+------------------+
only showing top 10 rows

In [0]:
athletes.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolympic/transformed-data/athletes")
coaches.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolympic/transformed-data/coaches")
gender.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolympic/transformed-data/gender")
medals.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolympic/transformed-data/medals")
teams.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolympic/transformed-data/teams")